* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  overflow-x: hidden;
}

/* Planet */
.webgl {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  color: white;
  z-index: 2;
  position: relative;
  padding: 2rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-title {
  position: relative;
  font-size: 2rem;
  font-weight: 600;
  cursor: default;
}

.nav-ulist {
  font-size: 1.1rem;
  font-weight: bold;
  position: relative;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.nav-link {
  text-decoration: none;
}

.nav-list {
  color: white;
  list-style-type: none;
}

.spin-title {
  position: absolute;
  color: white;
  font-size: 2.5rem;
  z-index: 2;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
}

/* space */

.space {
  height: 85vh;
}

/* Commercial */

#commercial {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  perspective: 1000px;
}

.card {
  transition: 0.5s ease;
  transform-style: preserve-3d;
  height: 90vh;
  width: 75%;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2);
}

.dark-souls {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dark-souls img {
  width: 100%;
  z-index: 2;
}

.circle {
  width: 20rem;
  height: 20rem;
  background: linear-gradient(
    to right,
    rgba(254, 39, 18, 0.90),
    rgba(193, 20, 20, 0.75)
  );
  box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info h1 {
    margin-top: 1.5rem;
    font-size: 3rem;
}

.info h3 {
    font-size: 1.3rem;
    padding: 2rem 0rem;
    color: #585858;
    font-weight: lighter;
}

.games {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.games button {
    padding: 0.5rem 2rem;
    background: none;
    border: none;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.2);
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    color: #585858;
}

.purchase button {
    margin-top: 2rem;
    width: 200px;
    padding: 1rem 0rem;
    background: #f54642;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    color: white;
    border-radius: 30px;
    font-weight: bolder;
}